<!doctype html><html lang="en"><head><meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8"/><link rel="icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000"/>
    <meta name="description" content="Web site created using Locofy"/>  
    <title>phalSabji Sanjaal</title><script defer="defer" src="/static/js/main.52a3e757.js"></script>
    <link href="/static/css/main.d0e65bbe.css" rel="stylesheet" integrity="sha384-<your-css-integrity-hash>" crossorigin="anonymous">
        <script defer="defer" src="/static/js/main.52a3e757.js" type="text/javascript" integrity="sha384-<your-js-integrity-hash>" crossorigin="anonymous"></script>
        
    
    <link href="/static/css/main.d0e65bbe.css" rel="stylesheet"></head>
    <body style="margin:0;line-height:normal">
        <div id="root"></div></body></html>